.genre-badge {
    color: #ffffff;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    line-height: 1;
    display: inline-block;
}