.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    padding: 20px;
}

.nav-button {
    background: rgba(45, 55, 70, 0.4); /* Колір кнопок як на MovieInfo */
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 50px; /* Круглі кнопки */
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.nav-button:hover:not(:disabled) {
    background:  rgba(65, 75, 90, 0.8);;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.page-info {
    font-weight: 600;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 15px;
    border-radius: 8px;
}