/* Menu.css */
.header-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.header-menu ul li a:hover {
    color: #fff;
}