.poster-container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background: #1a212c; /* темний фон-заглушка */
}

.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            90deg,
            rgba(45, 55, 70, 0.4) 25%,
            rgba(65, 75, 90, 0.6) 50%,
            rgba(45, 55, 70, 0.4) 75%
    );
    background-size: 200% 100%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.card-image.hidden {
    opacity: 0;
}

.card-image.visible {
    opacity: 1;
}