.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

.user-name {
    color: black;
    font-size: 0.9rem;
}